/*  **Header** */
.header {
    width: 100%;
    height: 90px;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 200;
    background-color: var(--header-background);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.header__logo-img {
    width: 70px;
}

.header__hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.header__hamburger-line {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 4px 0;
    transition: 0.3s;
}

.header__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: var(--color-primary);
    list-style: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    z-index: 100;
}

.header__menu--show {
    max-height: 500px;
    opacity: 1;
    display: flex;
    /* padding: 1rem 0; */
}

.header__menu li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header__menu li:last-child {
    border-bottom: none;
}

.header__menu-link {
    color: white;
    font-family: var(--text-typography);
    font-size: 1rem;
    font-weight: bold;
    display: block;
    padding: 1rem 0;
    transition: 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.header__menu-link:hover {
    background-color: var(--color-secondary);
}

/* **Main** */
.daycare{
    margin: var(--main-margin);
}
.daycare__title {
    font-family: var(--text-typography);
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-secondary);
    margin-bottom: 1rem;
    text-align: center;
}

.daycare__description {
    font-size: 1rem;
    color: var(--color-text-secondary);
    line-height: 1.5;
    text-align: center;
    font-family: var(--text-typography);
    font-size: 1rem;
}

.daycare__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daycare__img-item {
    margin: 0.40rem;
}
.daycare__img-item img{
    width: 100%;
    
}
/* **DAYCARE** */
.daycare__form-container {
    background-color: var(--form-background);
    padding: var(--main-padding);
    border-radius: 10px;
    margin: var(--main-margin);
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.08),
        0 8px 16px rgba(0, 0, 0, 0.12),
        0 16px 32px rgba(0, 0, 0, 0.15),
        0 24px 48px rgba(0, 0, 0, 0.18);
}

.daycare__form-title {
    font-family: var(--text-typography);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-secondary);
    margin-bottom: 1rem;
    text-align: center;
}

.daycare__form-section {
    border: none;
}
.daycare__form-legend{
    font-family: var(--text-typography);
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.daycare__form-section-content {
    border-top: 1px solid #01663067;
    margin-bottom:1rem ;
}
.daycare__label{
    font-family: var(--text-typography);
    font-size: 1rem;
    display: block;
    margin-top: 1rem;
}
.daycare__input{
    border-radius: 10px;
    padding: 0.2rem;
    width: 100%;
    height: 2rem;
    border: 1px solid #01663067;
    outline: none;
}

.daycare__form-field--file{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  text-align: center;
  width: 100%;
}

input[type="file"]::file-selector-button {
  display: block;
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--color-secondary);
}

.daycare__input--textarea{
    border-radius: 10px;
    padding: 0.2rem;
    width: 100%;
    height: 10dvh;
    border: 1px solid #01663067;
    outline: none;
    resize: none;
}
.daycare__form-actions > button{
    font-family: var(--text-typography);
    font-size: 0.875rem;
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    width: 100%;
}
#petVaccination {
  font-size: 0;
}

#petVaccination::file-selector-button {
  font-size: 14px;
}